<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.windlogback.mapper.CommentMapper">

    <insert id="insertComment" parameterType="Comment" useGeneratedKeys="true" keyProperty="commentId">
        insert into `wind-log`.comment(`wind-log`.comment.comment_pid,
                                       `wind-log`.comment.article_id, `wind-log`.comment.article_comment,
                                       `wind-log`.comment.comment_user_id,
                                       `wind-log`.comment.comment_time) value (#{commentPid}, #{articleId},
                                                                               #{articleComment}, #{commentUserId},
                                                                               #{commentTime})
    </insert>

    <select id="selectComment" parameterType="CommentParam" resultType="Comment">
        select comment_id, comment_pid, article_id, article_comment, comment_user_id, comment_time
        from comment
        <where>
            <if test="articleId!=null">
                and article_id=#{articleId}
            </if>
            <if test="commentUserId!=null">
                and comment_user_id=#{commentUserId}
            </if>
            <if test="articleComment!=null">
                and article_comment like '%${articleComment}%'
            </if>
            <if test="commentTime!=null">
                and date_format(comment_time,'%Y-%m-%d')=date_format(#{commentTime},'%Y-%m-%d')
            </if>
        </where>

        <if test="sort!=null">
            <foreach collection="sort" item="item" index="index">
                <choose>
                    <when test="index=='commentId'">
                        <if test="item=='descend'">
                            order by comment_id desc
                        </if>
                        <if test="item=='ascend'">
                            order by comment_id asc
                        </if>
                    </when>
                    <when test="index=='commentTime'">
                        <if test="item=='descend'">
                            order by comment_time desc
                        </if>
                        <if test="item=='ascend'">
                            order by comment_time asc
                        </if>
                    </when>
                    <when test="index=='commentPid'">
                        <if test="item=='descend'">
                            order by comment_pid desc
                        </if>
                        <if test="item=='ascend'">
                            order by comment_pid asc
                        </if>
                    </when>
                    <when test="index=='articleId'">
                        <if test="item=='descend'">
                            order by article_id desc
                        </if>
                        <if test="item=='ascend'">
                            order by article_id asc
                        </if>
                    </when>
                    <when test="index=='commentUserId'">
                        <if test="item=='descend'">
                            order by comment_user_id desc
                        </if>
                        <if test="item=='ascend'">
                            order by comment_user_id asc
                        </if>
                    </when>
                    <otherwise>
                        order by comment_id asc
                    </otherwise>
                </choose>
            </foreach>
        </if>
    </select>

    <delete id="deleteComment">
        delete
        from comment
        where comment_id = #{commentId}
    </delete>

</mapper>
