<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.windlog.mapper.LikeMapper">
    <insert id="insertLike" parameterType="Like">
        insert ignore into `like`(like_user_id, liked_article_id, like_create_time) VALUE (#{likeUserId}, #{likedArticleId}, #{likeCreateTime})
    </insert>

    <select id="selectLikeByLike" parameterType="Like" resultType="Like">
        select *
        from `like`
        where liked_article_id = #{likedArticleId}
          and like_user_id = #{likeUserId}
    </select>

    <delete id="deleteLike" parameterType="Like">
        delete
        from `like`
        where like_user_id = #{likeUserId}
          and liked_article_id = #{likedArticleId}
    </delete>

</mapper>
